@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: #eef8f3; }

.nav-item-container {
  width: 100%;
  max-width: 1000px;
  margin: auto; }

.nav-item {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: 45px;
  position: relative; }
  .nav-item:hover {
    opacity: 0.6;
    cursor: pointer; }

.nav-items-right {
  float: right;
  position: relative;
  margin-top: 25px; }

.burger-menu {
  position: relative; }

.burger-menu-items {
  position: absolute;
  right: 0;
  top: 65px;
  width: 160px;
  background-color: #eef8f3;
  z-index: 2;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease; }

.burger-menu-items-active {
  height: 249px; }

.burger-menu-item {
  border-bottom: solid 1px #fa9c5f; }
  .burger-menu-item:hover {
    background-color: #bfe5d0;
    cursor: pointer; }

.burger-menu-item > * {
  color: #da7547;
  font-size: 23px;
  font-weight: 400;
  padding: 10px; }

.nav-logo {
  vertical-align: top;
  display: inline-block;
  margin: 12px;
  margin-top: 13px;
  font-size: 17px;
  color: #addec2;
  height: 65px; }
  .nav-logo:hover {
    cursor: pointer; }

.nav-notification {
  position: absolute;
  top: 30px;
  left: 4px;
  z-index: 2;
  background-color: red;
  width: 15px;
  height: 13px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: none; }

.nav-item-login {
  vertical-align: top;
  margin: 5px;
  line-height: 45px;
  color: #da7547;
  font-size: 1.3rem; }
  .nav-item-login:hover {
    color: #ebb59c; }

.nav-items-right-login {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: 45px;
  position: relative; }

.burger-menu-items-active-login {
  height: 199px; }

.nav-item-login {
  margin-left: 15px; }

.plant-gallery-page-wrapper {
  clear: both; }

.plant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  grid-gap: 15px;
  grid-row-gap: 15px;
  position: relative; }

.plant-card {
  position: relative; }

.plant-card:hover button {
  position: absolute;
  opacity: 1;
  height: 35px;
  line-height: 35px; }

.request-button {
  width: 100%;
  height: 0;
  background-color: #2b5d76;
  position: absolute;
  bottom: 24px;
  left: 0;
  text-align: center;
  line-height: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  opacity: 0;
  transition: 0.5s; }
  .request-button:hover {
    cursor: pointer; }

.plant-img {
  width: 100%;
  height: auto; }

.plant-grid-city {
  height: 20px;
  float: right;
  margin: 0 5px 0 5px;
  color: #9e9e9e; }

.plant-grid-name {
  float: left;
  margin: 0 5px 0 5px; }

.svg {
  height: 100%; }

.search-container {
  height: 30px;
  width: 200px;
  vertical-align: top;
  text-align: right;
  margin: 0;
  padding-top: 13px;
  margin-left: 10px;
  margin-bottom: 10px; }

.searchbox {
  position: relative;
  width: 200px;
  display: block; }

.searchbox:before {
  position: absolute;
  content: "";
  background-color: #da7547;
  height: 10px;
  width: 2px;
  transform: rotate(-45deg);
  right: 0;
  bottom: -4px; }

.search {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: transparent;
  border: #da7547 2px solid;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  color: #696363;
  padding-left: 15px;
  padding-right: 5px;
  transition: 0.5s; }

::placeholder {
  opacity: 0.8;
  font-style: italic;
  color: rbga(255, 255, 255, 0.5); }

.search:focus {
  width: 200px; }

.sort-options {
  display: inline-block;
  margin: 10px;
  vertical-align: super; }

.sort-option {
  display: inline-block;
  margin: 10px; }

.sort-option > input {
  margin-right: 3px; }

.location-search {
  display: inline-block; }

.location-and-search-bar {
  margin-top: 60px;
  display: inline-block;
  text-align: center; }

.text-label {
  display: inline-block;
  vertical-align: super;
  opacity: 0.8;
  padding-left: 5px; }

.label {
  background-image: url("../svg/leaf.svg");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: all 100ms ease-in;
  opacity: 0.4; }

.label:hover {
  opacity: 0.8; }

.sort-option input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.sort-option input:checked + .label {
  opacity: 1; }

.footer {
  width: 100%;
  height: 60px;
  background-color: #addec2;
  color: black;
  text-align: center;
  margin-top: 0; }

.user-profile-wrapper {
  margin-top: 40px; }

.profile-plant-grid-name {
  height: 20px;
  float: left;
  margin: 0 5px 0 5px; }

.profile-plant-grid-time {
  height: 20px;
  float: right;
  margin: 0 5px 0 5px;
  color: #9e9e9e; }

.image-menu {
  font-size: 1rem;
  position: absolute;
  top: 10px;
  right: 10px; }
  .image-menu:hover {
    cursor: pointer; }

.image-menu-items {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 90px;
  z-index: 1;
  background-color: #addec2; }
  .image-menu-items:hover {
    cursor: pointer; }

.hide {
  display: none; }

.image-menu-items > * {
  font-size: 1rem;
  color: #da7547;
  position: absolute;
  left: 0px;
  height: 30px;
  width: 80px;
  z-index: +1; }
  .image-menu-items > *:hover {
    background-color: #89cfa7;
    cursor: pointer; }

.image-menu-items > * > p {
  padding: 5px; }

.image-menu-items > :nth-child(1) {
  top: 0px; }

.image-menu-items > :nth-child(2) {
  top: 30px; }

.image-menu-items > :nth-child(3) {
  top: 60px; }

.btn-add-plant {
  font-size: 1.8rem;
  background-color: #2b5d76;
  color: white;
  border-radius: 8px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .btn-add-plant:hover {
    background-color: #397a9b; }

.user-info-container {
  background-color: #d1eddd;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  height: 140px;
  position: relative; }

.user-info-data > * {
  margin: 5px;
  color: black; }

.user-info-data {
  float: left; }

.add-plant-btn-container {
  height: 140px;
  float: right; }

.fa-edit {
  color: blue;
  font-size: 0.6rem; }
  .fa-edit:hover {
    cursor: pointer; }

.profile-swaps-container {
  margin-top: 40px; }

.swap-inbox {
  width: 100%; }

.no-requests {
  text-align: center;
  margin-top: 60px; }

.swap-messages-toggler {
  margin: auto;
  width: 320px;
  font-size: 0;
  margin-bottom: 30px; }

.swap-messages-toggler-left {
  position: relative;
  display: inline-block;
  background-color: #2b5d76;
  border-radius: 20px 0 0 20px;
  width: 155px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right; }
  .swap-messages-toggler-left h2 {
    margin: 7px;
    color: white; }
  .swap-messages-toggler-left:hover {
    cursor: pointer; }

.swap-messages-toggler-right {
  position: relative;
  display: inline-block;
  background-color: #2b5d76;
  border-radius: 0 20px 20px 0;
  width: 155px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px; }
  .swap-messages-toggler-right h2 {
    margin: 7px;
    color: white; }
  .swap-messages-toggler-right:hover {
    cursor: pointer; }

.deactivated {
  background-color: #addec2; }

.swap-item {
  width: 100%;
  display: inline-flex; }

.swap-item a {
  color: #da7547; }

.swap-inbox-img {
  height: 70px;
  margin: 10px;
  margin-top: 0;
  float: left;
  border-radius: 50%; }

.swap-chat-img {
  height: 70px;
  margin: 10px;
  margin-top: 0;
  float: left;
  border-radius: 50%; }

.swap-chat-item {
  position: relative;
  clear: both; }
  .swap-chat-item:hover {
    opacity: 0.8;
    cursor: pointer; }

.swap-chat-item-notification {
  position: absolute;
  top: 45px;
  left: 55px;
  z-index: 10;
  background-color: red;
  width: 11px;
  height: 11px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px; }

.swap-chat-sender {
  font-size: 1.2rem; }

.swap-chat-item a {
  color: #da7547; }

.swap-chat-message {
  opacity: 0.75;
  display: inline-block; }

.swap-chat-message-sender {
  display: inline-block;
  width: calc(100% - 95px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  height: 40px;
  opacity: 0.9; }

.swap-inbox-sender {
  font-size: 1.2rem; }

.swap-inbox-message {
  opacity: 0.75; }

.swap-inbox-buttons button {
  height: 25px;
  border-radius: 3px;
  margin: 5px;
  font-weight: bold;
  font-size: 0.9rem; }
  .swap-inbox-buttons button:hover {
    cursor: pointer; }

.swap-inbox-see-plants-button {
  width: 120px;
  background-color: #da7547; }

.swap-inbox-yes-button {
  width: 60px;
  background-color: #2b5d76;
  color: white; }
  .swap-inbox-yes-button:hover {
    background-color: #397a9b; }

.swap-inbox-no-button {
  width: 60px;
  background-color: white;
  color: #2b5d76; }
  .swap-inbox-no-button:hover {
    background-color: #2b5d76;
    color: white; }

.chat-box {
  margin: 10px;
  position: relative;
  height: calc(100vh - 220px); }

.chat-box-history-text {
  bottom: 50px;
  align-self: flex-end;
  max-height: 100%;
  width: 100%; }

.chat-box-history {
  overflow-y: scroll;
  height: calc(100vh - 280px);
  display: flex; }

.chat-box-input form {
  height: 40px;
  border-radius: 6px;
  border: 1px solid #2b5d76;
  margin: auto;
  position: absolute;
  bottom: 0;
  padding-left: 10px; }
  .chat-box-input form:focus {
    outline: none; }

.chat-box-input input {
  width: calc(100vw - 120px);
  max-width: 920px;
  height: 40px;
  border-radius: 6px;
  border: none; }

.chat-box-input button {
  height: 40px;
  border-radius: 6px;
  width: 45px; }
  .chat-box-input button:hover {
    cursor: pointer; }

.chat-box-message {
  font-size: 16px;
  color: #1d1c1d; }

.chat-box-timestamp {
  margin-left: 5px;
  opacity: 0.75;
  font-size: 13px; }

.chat-box-sender {
  font-weight: bold;
  font-size: 16px; }

.incoming-messages-notification-number {
  position: absolute;
  top: 30px;
  left: 120px;
  z-index: 10;
  background-color: red;
  width: 15px;
  height: 13px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: 1px white solid; }

.messages-notification-number {
  position: absolute;
  top: 30px;
  right: 120px;
  z-index: 10;
  background-color: red;
  width: 15px;
  height: 13px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: 1px white solid; }

.browsed-user-plants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  grid-gap: 15px;
  grid-row-gap: 15px;
  position: relative;
  margin-top: 10px; }

.user-plant-grid-text {
  margin: 0 5px 0 5px;
  opacity: 0.8; }

.browsed-user-plant-wrapper > h1 {
  margin-top: 60px; }

.modal-plant-upload {
  border-radius: 5px;
  background-color: #d1eddd;
  margin: auto;
  margin-top: 60px;
  padding: 30px;
  border: 1px solid #888;
  display: inline-block;
  max-width: 700px;
  text-align: left; }

.plant-upload-form > * {
  display: block;
  margin: 15px;
  margin-left: 0; }

.plant-upload-form > p > * {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px; }

.plant-upload-form > p > input {
  width: 150px; }

.add-file-btn {
  width: 220px;
  font-size: 1rem;
  background-color: #2b5d76;
  color: white; }

.submit-plant-btn {
  font-size: 1rem;
  background-color: #2b5d76;
  color: white;
  padding: 5px 15px 5px 15px;
  border-radius: 6px; }

.modal {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center; }

.modal-form {
  border-radius: 5px;
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  display: inline-block;
  margin-top: 15%;
  z-index: 11;
  max-width: 500px; }

.confirmation-modal > * {
  text-align: center;
  margin: 10px; }

.confirmation-modal {
  text-align: center;
  margin: 10px; }

.modal-input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #da7547;
  font-size: 1rem;
  margin: 10px;
  width: 250px; }

.confirmation-modal-input {
  border: 0;
  outline: 0;
  border-bottom: 1px solid #da7547;
  font-size: 1rem;
  margin: 10px; }

.login button {
  margin-left: 100px;
  margin-right: 100px; }

.signupmodal {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center; }

.signup-modal-form {
  border-radius: 5px;
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  display: block;
  margin-top: 15%;
  z-index: 6;
  max-width: 320px; }

.zip-input {
  width: 80px; }

.modal-form-plantinfo {
  position: relative;
  margin: 20px;
  max-width: 100vw;
  background-color: #e4f4eb; }

.plant-info-modal-close-btn {
  position: absolute;
  top: 22px;
  right: 24px;
  z-index: 11; }
  .plant-info-modal-close-btn:hover {
    cursor: pointer; }

.plant-info-image {
  max-width: 100%; }

.modal-form-plantinfo textarea {
  width: 320px;
  height: 50px; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: "PT Sans Narrow", sans-serif; }

*:focus {
  outline: none; }

.content-wrapper {
  clear: both;
  width: 100%;
  max-width: 1000px;
  margin: auto; }

.static-page * {
  text-align: center; }

h1 {
  color: #da7547;
  text-align: center;
  font-weight: 400; }

h2 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #da7547; }

h3 {
  font-size: 1.15rem;
  font-weight: 400;
  color: #da7547; }

.fas {
  color: #da7547;
  font-size: 30px; }

.Btn {
  padding: 5px 15px 5px 15px;
  background-color: #2b5d76;
  color: white;
  border-radius: 3px; }
  .Btn:hover {
    background-color: #397a9b;
    cursor: pointer; }

@media screen and (max-width: 500px) {
  .nav-items-right {
    margin-top: 15px; }
  .nav-item {
    height: 40px; }
  .nav-logo {
    height: 46px;
    margin-left: 6px;
    margin-top: 12px;
    margin-right: 0px; }
  .navbar {
    height: 70px; }
  .burger-menu-items {
    top: 55px; }
  .nav-item-login {
    font-size: 1.15rem;
    margin-left: 5px; }
  .burger-menu {
    margin-left: 2px;
    margin-right: 2px; }
  .sort-options {
    display: none; } }
