.profile-swaps-container {
  margin-top: 40px;
}
.swap-inbox {
  width: 100%;
}
.no-requests {
  text-align: center;
  margin-top: 60px;
}
.swap-messages-toggler {
  margin: auto;
  width: 320px;
  font-size: 0;
}
.swap-messages-toggler-left {
  position: relative;
  display: inline-block;
  background-color: $blue;
  border-radius: 20px 0 0 20px;
  width: 155px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: right;
  h2 {
    margin: 7px;
    color: white;
  }
  &:hover {
    cursor: pointer;
  }
}
.swap-messages-toggler-right {
  position: relative;
  display: inline-block;
  background-color: $blue;
  border-radius: 0 20px 20px 0;
  width: 155px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  h2 {
    margin: 7px;
    color: white;
  }
  &:hover {
    cursor: pointer;
  }
}
.deactivated {
  background-color: $turq;
}
.swap-item {
  width: 100%;
  display: inline-flex;
}
.swap-item a {
  color: $terra;
}
.swap-inbox-img {
  height: 70px;
  margin: 10px;
  margin-top: 0;
  float: left;
  border-radius: 50%;
}
.swap-chat-img {
  height: 70px;
  margin: 10px;
  margin-top: 0;
  float: left;
  border-radius: 50%;
}
.swap-chat-item {
  position: relative;
  clear: both;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
.swap-chat-item-notification {
  position: absolute;
  top: 45px;
  left: 55px;
  z-index: 10;
  background-color: red;
  width: 11px;
  height: 11px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
}
.swap-chat-sender {
  font-size: 1.2rem;
}
.swap-chat-item a {
  color: $terra;
}
.swap-chat-message {
  opacity: 0.75;
  display: inline-block;
}
.swap-chat-message-sender {
  display: inline-block;
  width: calc(100% - 95px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  height: 40px;
  opacity: 0.9;
}
.swap-inbox-text {
}
.swap-inbox-sender {
  font-size: 1.2rem;
}
.swap-inbox-message {
  opacity: 0.75;
}
.swap-inbox-buttons button {
  height: 25px;
  border-radius: 3px;
  margin: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  &:hover {
    cursor: pointer;
  }
}
.swap-inbox-see-plants-button {
  width: 120px;
  background-color: $terra;
}
.swap-inbox-yes-button {
  width: 60px;
  background-color: $blue;
  color: white;
  &:hover {
    background-color: lighten($blue, 10%);
  }
}
.swap-inbox-no-button {
  width: 60px;
  background-color: white;
  color: $blue;
  &:hover {
    background-color: $blue;
    color: white;
  }
}
.chat-box {
  margin: 10px;
  position: relative;
  height: calc(100vh - 220px);
}

.chat-box-history-text {
  bottom: 50px;
  align-self: flex-end;
  max-height: 100%;
  width: 100%;
}
.chat-box-history {
  overflow-y: scroll;
  height: calc(100vh - 280px);
  display: flex;
}
.chat-box-input form {
  height: 40px;
  border-radius: 6px;
  border: 1px solid $blue;
  margin: auto;
  position: absolute;
  bottom: 0;
  padding-left: 10px;
  &:focus {
    outline: none;
  }
}
.chat-box-input input {
  width: calc(100vw - 120px);
  max-width: 920px;
  height: 40px;
  border-radius: 6px;
  border: none;
}
.chat-box-input button {
  height: 40px;
  border-radius: 6px;
  width: 45px;
  &:hover {
    cursor: pointer;
  }
}
.chat-box-message {
  font-size: 16px;
  color: #1d1c1d;
}
.chat-box-timestamp {
  margin-left: 5px;
  opacity: 0.75;
  font-size: 13px;
}
.chat-box-sender {
  font-weight: bold;
  font-size: 16px;
}
.incoming-messages-notification-number {
  position: absolute;
  top: 30px;
  left: 120px;
  z-index: 10;
  background-color: red;
  width: 15px;
  height: 13px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: 1px white solid;
}
.messages-notification-number {
  position: absolute;
  top: 30px;
  right: 120px;
  z-index: 10;
  background-color: red;
  width: 15px;
  height: 13px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: 1px white solid;
}
