.user-info-container {
  background-color: lighten($turq, 10%);
  padding: 10px;
  margin: 10px 0px 10px 0px;
  height: 140px;
  position: relative;
}
.user-info-label {
}
.user-info-data > * {
  margin: 5px;
  color: black;
}
.user-info-data {
  float: left;
}
.add-plant-btn-container {
  height: 140px;
  float: right;
}
.fa-edit {
  color: blue;
  font-size: 0.6rem;
  &:hover {
    cursor: pointer;
  }
}
