.plant-gallery-page-wrapper {
  clear: both;
}

.plant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  grid-gap: 15px;
  grid-row-gap: 15px;
  position: relative;
}
.plant-card {
  position: relative;
}
.plant-card:hover button {
  position: absolute;
  opacity: 1;
  height: 35px;
  line-height: 35px;
}
.request-button {
  width: 100%;
  height: 0;
  background-color: $blue;
  position: absolute;
  bottom: 24px;
  left: 0;
  text-align: center;
  line-height: 0;
  color: white;
  font-weight: bold;
  font-size: 20px;
  opacity: 0;
  &:hover {
    cursor: pointer;
  }
  transition: 0.5s;
}

.plant-img {
  width: 100%;
  height: auto;
}

.plant-grid-city {
  height: 20px;
  float: right;
  margin: 0 5px 0 5px;
  color: rgb(158, 158, 158);
}
.plant-grid-name {
  float: left;
  margin: 0 5px 0 5px;
}
.svg {
  height: 100%;
}
.search-container {
  height: 30px;
  width: 200px;
  vertical-align: top;
  text-align: right;
  margin: 0;
  padding-top: 13px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.searchbox {
  position: relative;
  width: 200px;
  display: block;
}
.searchbox:before {
  position: absolute;
  content: "";
  background-color: $terra;
  height: 10px;
  width: 2px;
  transform: rotate(-45deg);
  right: 0;
  bottom: -4px;
}
.search {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: transparent;
  border: $terra 2px solid;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(105, 99, 99);
  padding-left: 15px;
  padding-right: 5px;
  transition: 0.5s;
}
::placeholder {
  opacity: 0.8;
  font-style: italic;
  color: rbga(255, 255, 255, 0.5);
}
.search:focus {
  width: 200px;
}
.sort-options {
  display: inline-block;
  margin: 10px;
  vertical-align: super;
}
.sort-option {
  display: inline-block;
  margin: 10px;
}
.sort-option > input {
  margin-right: 3px;
}

.location-search {
  display: inline-block;
}
.location-and-search-bar {
  margin-top: 60px;
  display: inline-block;
  text-align: center;
}
.text-label {
  display: inline-block;
  vertical-align: super;
  opacity: 0.8;
  padding-left: 5px;
}

.label {
  background-image: url("../svg/leaf.svg");
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: all 100ms ease-in;
  opacity: 0.4;
}

.label:hover {
  opacity: 0.8;
}
.sort-option input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort-option input:checked + .label {
  opacity: 1;
}
