.navbar {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: $light;
}
.nav-item-container {
  width: 100%;
  max-width: $maxWidth;
  margin: auto;
}
.nav-item {
  display: inline-block;
  margin: 15px 10px;
  font-size: 17px;
  color: $primary;
  position: relative;

  &:hover {
    color: $green;
    cursor: pointer;
  }
}
.nav-items-right {
  float: right;
}
.nav-logo {
  vertical-align: top;
  display: inline-block;
  margin: 5px;
  font-size: 17px;
  color: $primary;
  height: 57px;
  &:hover {
    color: $green;
    cursor: pointer;
  }
}

.fa-leaf {
  color: $green;
}
.nav-notification {
  position: absolute;
  top: 16px;
  left: 2px;
  z-index: 2;
  background-color: red;
  width: 15px;
  height: 13px;
  font-size: 12px;
  line-height: 14px;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  border: 1px white solid;
}
