@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");

@import "GlobalVariables";

@import "UserNav";
@import "LoginNav";
@import "Gallery";
@import "Footer";

@import "pages/UserProfile";
@import "pages/Userprofile/UserInfo";
@import "pages/Swaps";

@import "modals/AddPlant";
@import "modals/Confirmation";
@import "modals/Login";
@import "modals/Signup";
@import "modals/PlantInfo";




* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: "PT Sans Narrow", sans-serif;
}
 // NAVBAR

.content-wrapper {
  clear:both;
  width: 100%;
  max-width: $maxWidth;
  margin: auto;
  min-height: calc(100vh - 60px);
}

h1 {
  color: $green;
  text-align:center;
}
h2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: $brown;
}
h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color:$brown;
}

.Btn {
  border-style: none;
  background-color: transparent;
  color: $green;
  border-radius: 2px;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 1rem;

  &:hover {
    background-color: rgb(141, 212, 245);
    cursor: pointer;
  }
}

.fas {
  font-size: 30px;
  color: $green;
}

.fa-ellipsis-v {
  color: $green;
}





//User Profile




@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 800px) {
}
