@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");

@import "GlobalVariables";

@import "UserNav";
@import "LoginNav";
@import "Gallery";
@import "Footer";

@import "pages/UserProfile";
@import "pages/Userprofile/UserInfo";
@import "pages/Swaps";
@import "pages/Userplants";
@import "pages/StaticPages";

@import "modals/AddPlant";
@import "modals/Confirmation";
@import "modals/Login";
@import "modals/Signup";
@import "modals/PlantInfo";

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: "PT Sans Narrow", sans-serif;
}
// NAVBAR
*:focus {
  outline: none;
}
.content-wrapper {
  clear: both;
  width: 100%;
  max-width: $maxWidth;
  margin: auto;
}
.centered {
text-align:center;
}
.static-page * {
  text-align: center;
}
h1 {
  color: $terra;
  text-align: center;
  font-weight: 400;
}
h2 {
  font-size: 1.3rem;
  font-weight: 400;
  color: $terra;
}
h3 {
  font-size: 1.15rem;
  font-weight: 400;
  color: $terra;
}
.fas {
  color: $terra;
  font-size: 30px;
}

.Btn {
  padding: 5px 15px 5px 15px;
  background-color: #2b5d76;
  color: white;
  &:hover {
    background-color: lighten($blue, 10%);
    cursor: pointer;
  }
  border-radius: 3px;
}

//User Profile

@media screen and (max-width: 500px) {
  .nav-items-right {
    margin-top: 15px;
  }
  .nav-item {
    height: 40px;
  }
  .nav-logo {
    height: 46px;

    margin-left: 6px;
    margin-top: 12px;
    margin-right: 0px;
  }
  .navbar {
    height: 70px;
  }
  .burger-menu-items {
    top: 55px;
  }
  .nav-item-login {
    font-size: 1.15rem;
    margin-left: 5px;
  }
  .burger-menu {
    margin-left: 2px;
    margin-right: 2px;
  }
  .sort-options {
    display: none;
  }
}
